 body{
    margin: 0;
}
/*
img{
    width: 33vw;
    height: 300px;
}
#img{
    display: flex;
}
img:hover{
    opacity: 0.7;
    cursor: pointer;
    width: 30vw;
    transition: 0.9s;
    border: 10px solid teal;
}
button{
    width: 100px;
    height: 24px;
    color:white;
    background-color: teal;
    border-radius: 10px;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    opacity: 0.9;
    transition: 0.5s;
    
}
input{
    color:teal;
    border: 3px solid teal;
    border-radius: 10px;
    outline-style:none;
}
input::placeholder{
    font-size: 12pt;
    color:teal;
} */
#main{
    display: grid;
    grid-template-areas:'header header header'
                        'nav nav aside'
                        'section section aside'
                        'footer footer footer';
    grid-auto-rows: 10vh 15vh 40vh 30vh;
    grid-gap: 9px;
}
header{
    grid-area: header;
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header a{
    color: white;
    font-size: 12pt;
    text-decoration: none;
    font-family: helvetica;
}
header a:hover{
    font-size: 13pt;
    font-weight: bold;
}

nav{
    grid-area: nav;
    background-color:yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav h1{
    color: rgb(87, 85, 85);
}

aside{
    grid-area: aside;
    background-color:purple;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

}
aside p{
    width: 150px;
    color: white;
    font-size: 10pt;
}
aside h2{
    color: white;
}
section{
    grid-area: section;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section img{
    width: 400px;
    height: 220px;
    
}
footer{
    grid-area: footer;
    background-color: gray;
}
footer img{
    width: 40px;
    height: auto;
}
